/*  
Lab name: Experimental Biochemistry
Exp name: DNA amplification by polymerase chain reaction (PCR)
File name: main.css
Developer: Prakriti Dhang
*/

.card{
    margin-bottom: 5px;
}

.img-container{

    display: inline-block;
    position: relative;
}

#pcrmachine{
    position: relative;
    width:25%;
    top:1%;
    left:5%;
}

#pcrmachinecover{
    position: absolute;
    width:30%;
    top:10%;
    left:10%;
    
    /*transition: transform 2s ease-in-out;*/
 
}


.door
{
  background-color: transparent;
  display:block;
  width:70%;
  height:130%;
  
  /*Speed of the Door animation*/
  transition: all 0.7s ease-in-out;
}
.door1{
    
  transform-style: preserve-3d;
  transition: transform 2s, box-shadow .5s;
  transform-origin: left center; 
  
}


  
  .doorOpen1
  {
    transform: perspective(800px) rotateX(-105deg);
    
  }
  


#cellplate{
    position: absolute;
    width:10%;
    top:15%;
    left:12%; 
}

#tube{
    position: absolute;
    width:1.5%;
    top:17%;
    left:40%;  
   
}

#tube1{
    position: absolute;
    width:1.2%;
    top:9%;
    left:45.6%;  
    z-index: 10;
   
}
#tube2{
    position: absolute;
    width:1.2%;
    top:8%;
    left:47%;  
    z-index: 10;
   
}

#tube3{
    position: absolute;
    width:1.2%;
    top:10%;
    left:48.5%;  
    z-index: 10;
   
}
#tube4{
    position: absolute;
    width:1.2%;
    top:8%;
    left:50%;  
    z-index: 10;
   
}
#tube5{
    position: absolute;
    width:1.2%;
    top:10%;
    left:51.5%;  
    z-index: 10;
   
}

#tube6{
    position: absolute;
    width:1.2%;
    top:9%;
    left:53%;  
    z-index: 10;
   
}

#icebucket{
    position: absolute;
    width:10%;
    top:15%;
    left:45%;  
   
}

#ice{
    position: absolute;
    width:10%;
    top:16%;
    left:45%;  
    z-index: 10;
   
}


#back{
    position: absolute;
    width:6.5%;
    height:4%;
    top:86%;
    left:6.5%; 
}

#inst{
    position: absolute;
    width:6.5%;
    height:4%;
    top:86%;
    left:13%; 
}

#del{
    position: absolute;
    width:6.5%;
    height:4%;
    top:86%;
    left:19.2%; 
}

#option{
    position: absolute;
    width:6.5%;
    height:4%;
    top:86%;
    left:25.3%; 
}

#save{
    position: absolute;
    width:6.5%;
    height:4%;
    top:86%;
    left:32%; 
}

#run{
    position: absolute;
    width:3.2%;
    height:4%;
    top:86.2%;
    left:21.2%; 
    background-color: transparent;
}

#dnastrandsa{
    position: absolute;
    width:35%;
    top:31%; /* 35 */
    left:60.1%;
}

#dnastrandsb{
    position: absolute;
    width:35%;
    top:35%; /* 35 */
    left:60%;
   
    
}


 
#dnaprimerb{ /*  up  */
    position: absolute;
    width:5.4%;
    top:35%; /* 35 */
    left:62.8%;
   
    
}

#dnaprimer{ /*  down  */
    position: absolute;
    width:5.4%;
    top:40%; /* 40 */
    left:62.9%;
   
    
}

#dnaprimerext{  /*  down  */
    position: absolute;
    width:35%;
    top:47%; /* 30 */
    left:60%;
   
    
}

#dnaprimerextb{  /*  up  */
    position: absolute;
    width:35%;
    top:23%;  /* 35 */
    left:60%;
   
    
}



#c2dna{  /*bottom */
    position: absolute;
    width:20.8%;
    top:37%; /* 37 */
    left: 62.3%;   /*primer*/
    display:none;
}

#c2dnaa{ /*bottom */
    position: absolute;
    width:27.5%;
    top:40%;  /* 40 */
    left:60%;
    display:none;
    
}

#c2dnab{ /*top */
    position: absolute;
    width:20.8%;
    top:23%; /* 23 */
    left: 62.3%;  /*primer*/
   
}

#c2dnac{ /*top */
    position: absolute;
    width:27.5%;
    top:20%;  /* 20 */
    left:59.99%;
    
}


#dnaprimerc2{
    position: absolute;
    width:4.4%;
    top:47%; /* 47 */
    left:61.1%;
   
}

#dnaprimer12c2{
    position: absolute;
    width:4.4%;
    top:27%; /* 27 */
    left:77.7%;
   
}


#dnaprimerc2b{
    position: absolute;
    width:4.4%;
    top:23%; /* 23 */
    left:63.3%;
   
}

#dnaprimer22c2b{
    position: absolute;
    width:4.4%;
    top:40%; /* 40 */
    left:77.8%;
}

#dnastrandsac2ext{
    position: absolute;
    width:25%;
    top:47%; /* 47 */
    left:65.5%;
}

#dnastrandsbc2ext{
    position: absolute;
    width:22%;
    top:23.3%; /* 23.3 */
    left:67.5%;
}

#dnac2exta{
    position: absolute;
    width:17%;
    top:40%; /* 47 */
    left:61.1%;
}

#dnac2extb{
    position: absolute;
    width:17%;
    top:27%; /* 27 */
    left:61.1%;
}

#den3min{
    position: absolute;
    width:2.5%;
    height:21.1%;
    top:62.4%;
    left:5.9%; 
    background-color: transparent;
    transform: rotate(2deg);
}

#ann2min{
    position: absolute;
    width:2.8%;
    height:21.1%;
    top:62.4%;
    left:11%; 
    background-color: transparent;
    transform: rotate(2deg);
}

#ext1min{
    position: absolute;
    width:2.8%;
    height:21.1%;
    top:62.4%;
    left:13.8%; 
    background-color: transparent;
    transform: rotate(2deg);
}

#den2min{
    position: absolute;
    width:2.6%;
    height:21.1%;
    top:62.4%;
    left:8.4%; 
    background-color: transparent;
    transform: rotate(2deg);
}


#goto2{
    position: absolute;
    width:2.6%;
    height:21.1%;
    top:62.4%;
    left:16.7%; 
    background-color: transparent;
    transform: rotate(2deg);
}

#c3{
    position: absolute;
    width:30%;
    top:10%; /* 27 */
    left:61.1%;
}
